In [ ]:
"""
Functions that generates data 
made to know the true underlying relations
"""

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [72]:
def generate_data(n=1000,
                  n_kat = 3,
                  m_num = 2,
                  m_kat = 2):
    """
    Function to generate data
    output:
    table with 
    - "y" target column
    - "X_(...)" numeric explanatory varable
    - "X_k_(...)" kategoric explanatory varable
    
    """

    data = pd.DataFrame()
    
    y = pd.Series([0]*n)
    for x in range(m_num):
        data["X_"+str(x)] = np.random.normal(size = n)
        y = y+data["X_"+str(x)]
    
    
    for x in range(m_kat):
        data["X_k_"+str(x)] = np.random.normal(size = n)
        tmp = pd.cut(data["X_k_"+str(x)], n_kat)
        tmp = pd.DataFrame(tmp).merge(tmp.sort_values().drop_duplicates().reset_index(drop = True).reset_index(), how = "left")["index"]
        y = y+tmp*3
    
    y = y+np.random.normal(size = n, scale=0.1)
    data["y"] = y
    
    return data

In [73]:
generate_data().plot.scatte

          X_0       X_1     X_k_0     X_k_1         y
0   -1.091336 -0.924104 -0.193720  0.139751  3.888598
1   -0.926114 -0.749847  1.036407  0.331515  4.183289
2    0.417389 -1.123679  0.754496 -0.031403  5.288876
3   -0.462092 -1.318282  1.337677 -0.300885  4.189956
4    0.889294 -0.243312  0.744400  0.302904  6.738423
..        ...       ...       ...       ...       ...
995 -0.115700  0.783616  2.118659 -0.882425  9.540408
996 -1.411860  0.073236 -0.977862 -0.566338  1.651392
997  0.876482 -0.343882 -1.193071 -0.923241  3.445962
998  0.254739  1.246485  0.469353 -0.426146  7.342522
999 -0.259368  0.686884  0.714137  1.065265  6.486875

[1000 rows x 5 columns]